@import "config";
@import "fyrirlestur";
$page: 1200px;
$header-font: "Courier New", Courier, monospace;
$index-font: 'Times New Roman', Times, serif;
$white: #fcffd2;
$grey: #ccc;
$grey2: #aaa;
$grey3: #999;
$black: #000;
$green: #2d2;
$green2: #1a1;
$strangeColor: #cc9694;
$gutter: 20px;

* {
  padding: 0;
  margin: 0;
  transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $index-font;
  font-size: 16px;
}

main {
  //padding: 0 20px 0 20px;
  margin: 0 auto;
  // max-width: 1200px;
}

.header {
  font-family: $header-font;
  background-image: url("../img/header.jpg");
  font-size: 2rem;
  min-height: 30vh;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.3);
  color: $black;  
}


.header__h1 {
  text-align: center;
  //font-size: 2em;
  font-size: 12vw;
}

.header__h4 {
  text-align: center;
  //font-size: 1em;
  //margin-top: 3rem;
  //margin-bottom: -0.9rem;

  margin-top: min(10vw);
  font-size: 6vw;
  margin-bottom: -2.5vw;
}

.btn__container {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 1em 0.5em 1em 0.5em;
  border: none;
  background: $grey;
  box-shadow: 0.1rem 0.1rem $grey2;
  padding: 0.6em 1.2em 0.6em 1.2em;
  border-radius: 5px;
}

.btn:hover {
  background: $grey2;
  box-shadow: 0.1rem 0.1rem $grey3;
}

.btn:active,
.btn__active,
.btn__active:hover {
  background-color: $green;
  box-shadow: 0.1rem 0.1rem $green2;
}

// TODO import

.container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1240px) {
  .container {
    margin-right: $gutter;
    margin-left: $gutter;
  }
}
@media (min-width: 1240px) {
  .container {
    margin: 0 calc(50% - 600px);
  }
}
.card,  // Ekki búínn card
.card2 { // Búínn card
  cursor: pointer;
  height: 300px;
  margin-top: $gutter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  background: $grey3;
  width: 100%;
  max-height: 66vw;
    position:relative;
}

.index__image {
  position: relative;
}

.card:hover {
  background: $grey2;

  & img {
    display: none;
  }
}

.card2:hover {
  background: $grey2;
}

.index__image img {
  position: relative;
  //border: 3px dashed rgb(137, 0, 155);
  width: 100%;
  max-height: 100%;
  margin-bottom: -10%;
}

.text__left {position:absolute;
    bottom:0.4rem;
    left:0.5rem;
}

.checked {
    position:absolute;
    bottom:0.4rem;
    right:0.2rem;
  color: $green;
  font-size: 2.5rem;
}
.unchecked {
  display: none;
}
.index__card__bottom h1 {
  font-size: 2rem;
}


@media (min-width: 501px) {
  .card,
  .card2 {
    width: 48.5%;
    max-height: 48vw;
  }
}

@media (min-width: 801px) {
  .card,
   .card2 {
    width: 32.1%;
    max-height: 26vw;
  }
  .header__h1 {
    font-size: 2em;
  }

  .header__h4 {
    font-size: 1em;
    margin-top: 3rem;
    margin-bottom: -0.9rem;
  }
}
